apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: echo-cert
  namespace: echo
spec:
  secretName: echo-cert
  commonName: echo.home.saltrelli.com
  dnsNames:
    - echo.home.saltrelli.com
  subject:
    organizations:
      - "Home"
    organizationalUnits:
      - "IT"
  issuerRef:
    name: acme-cluster-issuer
    kind: ClusterIssuer
    group: cert-manager.io
  privateKey:
    algorithm: RSA
    size: 4096